################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dot-net-api/crud-api/.vs/crud-api/FileContentIndex
